<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar supermercado</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    
    <form th:action="@{'/supermercados/' + ${id} + '/edit/save'}" th:object="${supermercado}" method="post">
        <div th:replace="~{fragments/supermercadoForm :: supermercadoForm(titulo='Editar supermercado', supermercado=${supermercado})}"></div>
    </form>
    
</body>
</html>